@media (min-width: 500px){

    h1{color:rgb(255, 255, 255); font-family: 'Roboto', sans-serif; font-size: 20px; text-align: center;}
    
    p{color:chocolate; font-size: 12px; font-family: 'Be Vietnam Pro', sans-serif; text-align: justify; padding-top: 20px;}
    
    h3{text-align: center; color:#fff;}
    
    .col-1{width:100%;}
    .col-2{width: 100%;}
    #square{background-color: #3a4958; border-radius: 25px;}
    
    }
    
   
    
    @media screen and (min-width:1024px){
    
        h1{color:#0072e3; font-family: 'Roboto', sans-serif; font-size: 25px; text-align: center;}
    
        .col-1{width:33.3%;}
        .col-2{width: 33.3%;}
        h3{text-align: center; color:cornsilk;}
        #square{background-color: #3a4958; border-radius: 25px; display: inline-block;}

        .footer-distributed{
            background-color: #2c292f;
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;
            padding: 50px 50px 60px 50px;
            
        }

    }

    @media (min-width: 1024px){

        h1{color:red; font-family: 'Roboto', sans-serif; font-size: 25px; text-align: center;}
    
        .col-1{width:33.3%;}
        .col-2{width: 33.3%;}
        h3{text-align: center; color:cornsilk;}
        #square{background-color: #3a4958; border-radius: 25px; display: inline-block;}
    }