@import url(//fonts.googleapis.com/css?family=Josefin+Sans:600);@import url(//fonts.googleapis.com/css?family=Poppins:400,700,500);@import url(//fonts.googleapis.com/css?family=Raleway:600);@import url(//fonts.googleapis.com/css?family=Poppins:regular,600,300);@import url(//fonts.googleapis.com/css?family=Poppins:regular,600);
:root {
  --sr-global-body-bg-color:#010101;
  --sr-global-color1:#b6b6b6;
  --sr-global-color2:#f5f5f5;
  --sr-global-color3:#131112;
  --sr-global-text-color1:#f5f5f5;
  --sr-global-text-color2:#000000;
  --sr-global-bt-text-color:#ffffff;
  --sr-global-bt-bg-color:#000000;
  --sr-global-bt-text-hover-color:#ffffff;
  --sr-global-bt-bg-hover-color:#7ED7B5;

}
@media screen and (max-width: 767px){#page-banner div.page-banner-content .page-subtitle{ font-size:14px;}#page-banner div.page-banner-content .sr-banner-catnames, #page-banner div.page-banner-content .sr-banner-catnames a{ font-size:14px;}} 
#overlay { 
	background-attachment: initial;
	background-color: #010101;
}
body { 
	background-attachment: initial;
	background-color: #010101;
}
#overlay .perspective { 
	background-attachment: initial;
	background-color: rgba(0, 0, 0, 0);
}

a,
code,
.tab-circle,
.wpb_content_element.circle a,
a.button-more,.pages a, .event-pagination button,
.pages .current,
.iron_widget_newsletter input[type="submit"]:hover,
.iron_widget_twitter .twitter-logo,
.iron_widget_twitter .twitter-logo-small,
.tab-circle,
a.sr_it-meta-author-link,
.post-categories a,
.post-tags a,
.comment-content a,
.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login,
.comment-meta a:hover,
.comment-reply-title small a:hover,
.comments-title,
.woocommerce-Reviews .comment-reply-title,
.woocommerce-Reviews .woocommerce-Reviews-title,
.sonaar-menu-box .nav-menu .current-menu-item > a,
.sonaar-menu-box .nav-menu .current-menu-parent > a,
.sonaar-menu-box .nav-menu .current-menu-ancestor > a,
.iron_widget_recent_tweets .meta .time a,
.carousel .sr_it-datetime,
.article .sr_it-datetime,
.sr_it-single-post time,
.meta .sr_it-datetime,
span.wpcf7-not-valid-tip-no-ajax,
.wpcf7-response-output,
.contact-box .phone,
.error,
.success span,
.concerts-list .title-row .date,
.concerts-list .expanded .title-row .link,
.iron_widget_newsletter label span,
.concerts-list .title-row .link,
.icon-concert-dropdown,
li.expanded .title-row .icon-concert-dropdown,
.media-block a:hover .media-decoration.media-audio,
.media-block a:hover .media-decoration.media-audio,
.media-decoration.media-video,
.carousel .video-box .btn-play,
.terms-list small,
.terms-list [class^="icon-"],
.terms-list [class*=" icon-"],
.nm_mc_form .nm_mc_button:hover,
.footer-wrapper-backtotop:hover,
#sidebar .panel-action,
.tweet_text a,
.iron_widget_newsletter .nm_mc_button input[type="submit"]:hover,
#footer .vc_row .iron_widget_newsletter input[type="submit"]:hover,
#footer .vc_row .nm_mc_form input[type="submit"]:hover,
.iron_widget_newsletter input[type="submit"],
.nm_mc_form input[type="submit"],
.event-more-button,
.sonaar-menu-box .nav-menu li:hover > a,
.sonaar-menu-box ul.nav-menu li.menu-item ul.sub-menu li:hover > a,
.sonaar-menu-box ul.nav-menu ul a:hover,
.sonaar-menu-box .nav-menu ul ul a:hover,
.sonaar-menu-box .nav-menu .has-drop-down ul a:hover,
.sonaar-menu-box .nav-menu li a.backbtn:hover,
.wpb_content_element a,
#sidebar .textwidget a,
.footer__widgets ul a,
.wooprice ins,
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce #content div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page #content div.product p.price,
.wooprice,
.woocommerce .star-rating,
.woocommerce-page .star-rating,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li span,
.woocommerce table.cart a.remove,
.woocommerce #content table.cart a.remove,
.woocommerce-page table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce-page .woocommerce-product-rating .star-rating,
.woo-thanks,
.infobox-icon,
a.back-btn,
.playlist_enabled .player-box .jp-playlist ul li .button,
.button.add_to_cart_button.product_type_simple,
.post-password-form input[type="submit"], .sonaar-menu-box
li:hover > .has-drop-down-a .sub-arrow i,
.social-networks a i:hover,
.sonaar-menu-box .side-menu .social-networks a i:hover,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt,
.shipping-calculator-button,
.articles-classic .text-box a:hover h2,
.articles-classic a.readmore-classic:hover,
article a.more-link:hover,
#commentform .form-submit #submit,
.stickypost i,
.simple-post-txt-wrap a:hover h2,
.player-title-box .track-name,
.audio-holder .jp-playlist ul.tracks-list li.jp-playlist-current div a, .articles-classic .post-categories a:hover, .articles-classic .post-tags a:hover,
.sr_it-videolist-list article:hover i, .sr_it-videolist-list article:hover .sr_it-videolist-item-artist, .sr_it-videolist-list article:hover .sr_it-videolist-item-date, .sr_it-videolist-list article:hover .sr_it-videolist-item-title,a.eg-podcast-skin-element-22 { 
	color: #b6b6b6;
}

.panel-action:hover,
.album-overlay,
.pages .current,
.media-block a:hover,
.pages a:hover, .event-pagination button:hover,
a.button-more:hover,
.iron_widget_newsletter,
.iron_widget_newsletter input[type="email"],
.nm_mc_form input[type="text"],
#footer .vc_row .newsletter-wrap,
.concerts-list .title-row:hover .buttons .button,
.album-overlay,
.carousel .btn-prev:hover,
.carousel .btn-next:hover,
.carousel .slide a:hover,
.concert-box .hover-box,
.article a:hover,
.pages .current,
.pages a:hover,
.button-more:hover,
a.button,
.comment-form #submit,
.wpcf7-submit,
.filters-block a.active,
.form input[type="submit"],
.concerts-list .title-row .time,
.concerts-list .title-row.has_countdown:hover .buttons,
.concerts-list .expanded .title-row .button,
.concerts-list .expanded .title-row:after,
.iron_widget_newsletter input[type="submit"]:focus,
.iron_widget_newsletter input[type="submit"]:hover,
.select-options .item-selected a,
.concerts-list .expanded .title-row .opener:hover:after,
.concerts-list .title-row .button,
.media-decoration.media-audio,
.tracks-list .btn-play [class^="icon-"],
.tracks-list .btn-play [class*=" icon-"],
.tracks-list .btn-pause [class^="icon-"],
.tracks-list .btn-pause [class*=" icon-"],
.player-box a:hover [class^="icon-"],
.player-box a:hover [class*=" icon-"],
.social-networks a:hover [class^="icon-"],
.social-networks a:hover [class*=" icon-"],
.carousel .video-box .icon-play,
.search-form input[type="submit"],
.iron_widget_videos .video-list article a:hover,
a.back-btn:hover,
.videogrid:hover .text-box,
.page-template-archive-video .media-block:hover .text-box,
.playlist_enabled .player-box .jp-playlist ul li .button:hover,
.button.add_to_cart_button.product_type_simple:hover,
.post-password-form input[type="submit"]:hover,
.title-row.no-countdown:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce table.cart a.remove:hover,
.woocommerce #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover,
.shipping-calculator-button:hover,
.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current,
.playlist_enabled .player-box .jp-playlist ul li:hover,
.woocommerce-message .button.wc-forward:hover,
#commentform .form-submit #submit:hover,
ins,.mc4wp-form input[type=submit],
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.podcast-list .sonaar-play-button:hover,
.custombt a.vc_btn3.vc_btn3-color-black.vc_btn3-style-flat:hover { 
	background-color: #b6b6b6;
}

.tab-circle,a.button-more,
.tab-circle,
input.error,
.event-more-button,
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message,
.chosen-container-active .chosen-single,
a.back-btn,
.playlist_enabled .player-box .jp-playlist ul li .button,
.button.add_to_cart_button.product_type_simple,
.post-password-form input[type="submit"],
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt
.shipping-calculator-button,
.articles-classic a.readmore-classic:hover,
article a.more-link:hover,
#commentform .form-submit #submit,
.page-template-archive-posts-classic-php .media-block.sticky  .holder,
.sr_it-videolist-list article:hover i { 
	border-color: #b6b6b6;
}

    .media-block a,
    .event-row,
    .tracks-list > li,
    .panel-action,
    .iron_widget_twitter .panel__body,
    .iron_widget_twitter .panel-action,
    .srt_player-container .panel__body,
    .container .iron_widget_newsletter,
    .container .newsletter-wrap,
    .videogrid,
    .iron_widget_videos .video-list article a,
    .articles-classic .media-block .holder,
    .pages a { 
	background-color: #f5f5f5;
}

#sidebar .panel-action:hover,
.iron_widget_newsletter .newsletter-wrap nm_mc_button,
.iron_widget_newsletter input[type="submit"]:hover,
a.button[href]:hover,
.wpb_accordion_section a,
.ui-tabs-anchor { 
	background-color: #131112;
}

.comment-respond,
.container .iron_widget_newsletter input[type="email"],
.container .nm_mc_form input[type="text"],
.container .iron_widget_newsletter input[type="submit"],
.container .nm_mc_form input[type="submit"],
.post-password-form input[type="password"],
.wpb_tabs_nav { 
	border-color: #131112;
}

.iron_widget_newsletter input[type="email"],
.nm_mc_form input[type="text"],
.nm_mc_form label,
#footer .vc_row .iron_widget_newsletter input[type="submit"],
#footer .vc_row .nm_mc_form input[type="submit"],
.countdown-section,
.countdown-amount,
.countdown-period,
.footer-block .social-networks a,
.footer__widgets,
.footer-row,
.footer__widgets > .iron_widget_newsletter .control-label,
.footer__widgets > .iron_widget_newsletter .form-control,
.footer-row ul,
.footer-row ul a,
.concerts-list .title-row .open-link,
.concerts-list .title-row .button:hover,
.panel__heading,
.panel__footer,
.title-box,
.title-box h2,
.carousel .btn-prev:hover,
.carousel .btn-next:hover,
.media-decoration.media-audio,
#header,
.iosSlider .slider .item .inner .text1 span,
.iosSlider .slider .item .inner .text2 span,
a.button:hover,
.concerts-list,
.title-row:hover .icon-concert-dropdown,
.concerts-list .title-row:hover .button:hover,
.concerts-list .expanded .title-row .button:hover,
.concerts-list .title-row .opener,
.album-listen,
.circle,
.tracks-list,
.tracks-list .button,
.tracks-list .btn-play,
.tracks-list .btn-pause,
.gallery-caption,
.pages .current,
.pages a:hover, .event-pagination button:hover,
a.button-more:hover,
.pages .current,
.form input[type="submit"]:hover,
.comment-form #submit,
.wpcf7-submit,
.comment-form #submit:hover,
.wpcf7-submit:hover,
.concert-box .time,
.video-box .hover-box,
.video-box h2,
.video-box .icon-play,
.pages .current,
.pages a:hover,
.button-more:hover,
.concerts-list .title-row.has_countdown:hover .button:hover,
.concerts-list .title-row.has_countdown:hover .buttons .button,
.iron_widget_newsletter .form-status,
.concerts-list .title-row .button,
.footer__widgets .srt_player-container .info-box,
#footer .vc_row .tweet_text,
#footer .vc_row .nm_mc_error
#footer .vc_row .textwidget,
#footer .vc_row .newsletter-title-wrap h3,
#footer .vc_row .newsletter-description-wrap,
#footer .vc_row .newsletter-description-wrap p,
a.button,
play-button,
.darker-overlay h1,
.darker-overlay h2,
.darker-overlay h3,
.darker-overlay h4,
.darker-overlay h5,
.darker-overlay h6,
#footer .vc_row .wp-calendar,
#footer .vc_row p,
#footer .vc_row ul,
#footer .vc_row li,
#footer .vc_row dl,
#footer .vc_row dt,
#footer .vc_row dd,
#footer .vc_row ol,
#footer .vc_row pre,
#footer .vc_row tr,
#footer .vc_row td,
#footer .vc_row th,
#sidebar .button.wc-forward,
.post-password-form input[type="password"],
#footer .vc_row .iron_widget_newsletter .newsletter-wrap .control-description,
#footer .vc_row .iron_widget_newsletter .nm_mc_button:hover { 
	color: #f5f5f5;
}
.comment-list > li:after, .comment-list .children > li:before, .comment-reply-title, .woocommerce-page.single-product div.product .woocommerce-Tabs-panel--additional_information.panel, .single-product table.shop_attributes, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #reviews #comments ol.commentlist li .comment-text, .sr_it-videolist-list li { 
	border-color: #000000;
}

body,
.video-post,
.sr_it-single-post h2,
.concerts-list .title-row .sr_it-datetime,
.event-row .sr_it-datetime,
.tab-title,
.tab-title .excerpt,
.tracks-list .name,
.comment-reply-title,
h2.widgettitle,
#sidebar .panel__heading,
#sidebar .panel__heading h3,
.media-block .sr_it-datetime,
.media-block .meta-simple,
.media-block .category,
.form input[type="submit"],
.concerts-list .title-row .time,
.concerts-list .expanded .title-row .button,
.post_grid .tab-text time.sr_it-datetime,
h1,
h3.widgettitle,
.excerpt p,
.tweet_text,
.available-now,
.release-date,
.container .nm_mc_form input[type="text"],
.container .nm_mc_form label,
.container .nm_mc_error,
#sidebar .nm_mc_error,
.event-row .button,
.media-block h2,
.tracks-list > li:before,
.tab-date,
.videogrid .text-box h2,
.control-description,
.wpb_content_element,
.lighter-overlay h1,
.lighter-overlay h2,
.lighter-overlay h3,
.lighter-overlay h4,
.lighter-overlay h5,
.lighter-overlay h6,
#sidebar .textwidget,
ul,
li,
dl,
dt,
dd,
ol,
pre,
tr,
td,
th,
.wooprice del,
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.description_tab,
.reviews_tab,
h3,
.panel-action:hover,
.sr_it-videolist-container .sr_it-videolist-item-title, .sr_it-videolist-item-artist, .sr_it-videolist-item-date { 
	color: #000000;
}
.sr_it-videolist-list .sonaar-play-button polygon, .sr_it-videolist-list .sonaar-play-button rect, .sr_it-videolist-list .sonaar-play-button path { 
	fill: #000000;
}
.sr_it-videolist-list .sonaar-play-button .sonaar-play-circle circle { 
	stroke: #000000;
}
.sr_it-videolist-list article:hover .sonaar-play-button polygon, .sr_it-videolist-list article:hover .sonaar-play-button rect, .sr_it-videolist-list article:hover .sonaar-play-button path { 
	fill: #b6b6b6;
}
.sr_it-videolist-list article:hover .sonaar-play-button .sonaar-play-circle circle { 
	stroke: #b6b6b6;
}
.buttons-block svg { 
	fill: #f5f5f5;
}

.sonaar-menu-box .side-menu,
.sonaar-menu-box .nav-menu .sub-menu,
.sonaar-menu-box .nav-menu .children { 
	background-attachment: initial;
	background-color: #dbdbdb;
}
ul.header-top-menu { 
	background-color: rgba(255, 255, 255, 0);
}
.fill-menuicon { 
	fill: #131112;
}
.menu-toggle.toggled span.svgfill { 
	background-color: #131112;
}
ul.header-top-menu li a { 
	font-family: Josefin Sans;
	font-weight: 600;
	font-style: normal;
	color: #ffffff;
}
body, .single-product th, .single-product td, .single-product tr, .comment-text { 
	font-family: Poppins;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
}
.sonaar-menu-box .nav-menu li a { 
	font-family: Josefin Sans;
	font-weight: 600;
	font-style: normal;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	color: #131112;
	margin-top: 10px;
	margin-bottom: 10px;
}
h1, #sonaar-player.srt_sticky-player .playlist-title { 
	font-family: Poppins;
	font-weight: 700;
	font-style: normal;
	font-size: 28px;
	line-height: 40px;
	color: #ffffff;
}
h2, .sr_it-single-post h2, .text-box h2, .video-box h2, .title-box h2 { 
	font-family: Poppins;
	font-weight: 500;
	font-style: normal;
	font-size: 21px;
	line-height: 24px;
	text-transform: lowercase;
	color: #ffffff;
}
h3, h3.widgettitle, .sr_it-playlist-title { 
	font-family: Poppins;
	font-weight: 500;
	font-style: normal;
	font-size: 32px;
	line-height: 30px;
	color: #ffffff;
}
h4 { 
	font-family: Raleway;
	font-weight: 600;
	font-style: normal;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	letter-spacing: 1px;
	border-color: #000000;
}
h5 { 
	font-family: Raleway;
	font-weight: 600;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 2px;
}
h6 { 
	font-family: Raleway;
	font-weight: 600;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	letter-spacing: 1px;
}
a.panel-action.panel-action__label { 
	font-family: Raleway;
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	letter-spacing: 3px;
}
a.button-widget, .vc_btn3, .podcast-filter, .sonaar-filters .esg-filterbutton, .sonaar-filters .esg-navigationbutton.esg-loadmore, .sonaar-filters input.eg-search-input, .esg-sortbutton, .esg-selected-filterbutton,a.bt_rss_subscribe { 
	font-family: Raleway;
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}
.sonaar-filters .esg-filterbutton, .sonaar-filters .esg-navigationbutton.esg-loadmore, .sonaar-filters .esg-sortbutton, .sonaar-filters .esg-cartbutton, .podcast-filter li, .esg-sortbutton, a.bt_rss_subscribe { 
	color: #ffffff;
	background-color: #000000;
}
.sonaar-filters .esg-filterbutton:hover, .podcast-filter li:hover, .sonaar-filters .esg-navigationbutton.esg-loadmore:hover, .podcast-filter li:hover, .esg-sortbutton:hover,a.bt_rss_subscribe:hover { 
	color: #ffffff;
}
.sonaar-filters .esg-filterbutton:hover, .podcast-filter li:hover, .sonaar-filters .esg-navigationbutton.esg-loadmore:hover, .podcast-filter li:hover, .esg-sortbutton:hover, a.bt_rss_subscribe:hover { 
	background-color: #7ED7B5;
}
.sonaar-filters .esg-filterbutton.selected { 
	background-color: #ffffff;
	color: #000000;
}
h1 { 
	letter-spacing: 2px;
}
h2 { 
	letter-spacing: 2px;
}
h3 { 
	letter-spacing: 2px;
}
a.button-widget, .vc_btn3, .podcast-filter, .sonaar-filters .esg-filterbutton, .sonaar-filters .esg-navigationbutton.esg-loadmore, .esg-sortbutton { 
	letter-spacing: 3px;
}
.listing-section .holder:hover h2, .listing-section .media-block .holder:hover .meta-simple, .listing-section .media-block .holder:hover .sr_it-datetime { 
	color: #ffffff;
}
span.heading-t, span.heading-b { 
	background-color: #ffffff;
}
span.heading-t3, span.heading-b3 { 
	background-color: #ffffff;
}
.lighter-overlay span.heading-t, .lighter-overlay span.heading-b { 
	background-color: #000000;
}
.lighter-overlay span.heading-t3, .lighter-overlay span.heading-b3 { 
	background-color: #000000;
}
.darker-overlay span.heading-t, .darker-overlay span.heading-b { 
	background-color: #f5f5f5;
}
.darker-overlay span.heading-t3, .darker-overlay span.heading-b3 { 
	background-color: #f5f5f5;
}
.single-album .sr_it-single-post.featured, .single-album #sidebar { 
	background-color: #010101;
}
.responsive-header a.sandwich-icon, .classic-menu.responsive.visible a.sandwich-icon { 
	color: #ffffff;
}
.responsive-header a.sandwich-icon:hover, .classic-menu.responsive.visible a.sandwich-icon:hover { 
	color: #ffffff;
}
.classic-menu { 
	width: calc( 100% - 0px - 0px );
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #000000;
}
.classic-menu:not(.responsive) #menu-main-menu { 
	padding-left: 0px;
	padding-right: 0px;
}
.classic-menu:not(.responsive) #menu-main-menu, .classic-menu:not(.responsive) .classic-menu-hot-links { 
	padding-top: 0px;
	padding-bottom: 0px;
}
.classic-menu:not(.responsive) #menu-main-menu, .classic-menu:not(.responsive) .logo { 
	padding-top: 0px;
	padding-bottom: 0px;
}
.classic-menu.responsive #menu-main-menu li.menu_small_item, .classic-menu.responsive #menu-main-menu li.menu_small_item li, .classic-menu.responsive #menu-responsive-menu li.menu_small_item, .classic-menu.responsive #menu-responsive-menu li.menu_small_item li, .classic-menu.responsive ul.classic-menu-hot-links .languages-selector a { 
	font-size: 21px;
}
.classic-menu.responsive #menu-main-menu .sub-menu li a, .classic-menu.responsive #menu-responsive-menu .sub-menu li a { 
	font-size:  0.70em;
}
.classic-menu.responsive ul.classic-menu-hot-links a { 
	font-size: 18px;
}
.classic-menu:not(.responsive) #menu-main-menu > li, .classic-menu .classic-menu-hot-links > li { 
	margin-top: 0px;
	margin-bottom: 0px;
}
.classic-menu:not(.responsive) #menu-main-menu > li a { 
	padding-left: 20px;
	padding-right: 20px;
}
.classic-menu:not(.responsive) #menu-main-menu > li a, .classic-menu:not(.responsive) .classic-menu-hot-links > li a { 
	padding-top: 30px;
	padding-bottom: 30px;
}
.classic-menu .logo { 
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.classic-menu.responsive { 
	background-color: #000000;
}
.classic-menu.responsive .menu-responsive-bg { 
	background-attachment: initial;
	background-color: #000000;
}
.classic-menu.responsive #menu-main-menu li, .classic-menu.responsive #menu-responsive-menu li, .classic-menu.responsive .classic-menu-hot-links a { 
	color: #ffffff;
}
.classic-menu #menu-main-menu { 
	background-color: #000000;
}
.classic-menu.mini { 
	background-color: #000000;
}
.classic-menu:not(.responsive) #menu-main-menu li a, .classic-menu #menu-main-menu li, .classic-menu #menu-responsive-menu li a, .classic-menu:not(.responsive) > ul > li.languages-selector > ul > li a, .classic-menu:not(.responsive) .classic-menu-hot-links > li a { 
	font-family: Poppins;
	font-weight: 400;
	font-style: normal;
	font-size: 17;
	line-height: 17px;
	color: #ffffff;
}
.classic-menu:not(.responsive) #menu-main-menu .sub-menu a { 
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #000000;
}
.classic-menu:not(.responsive) #menu-main-menu > li a:hover, .classic-menu:not(.responsive) > ul > li.languages-selector > ul > li a:hover { 
	background-color: rgba(0, 0, 0, 0);
}
.classic-menu:not(.responsive) #menu-main-menu > li a:hover, .classic-menu:not(.responsive) #menu-responsive-menu > li a:hover, .classic-menu:not(.responsive) > ul > li.languages-selector > ul > li a:hover { 
	color: rgb(190, 201, 199);
}
.classic-menu:not(.responsive) #menu-main-menu a:after { 
	background-color: #b6b6b6;
}
.classic-menu:not(.responsive) #menu-main-menu > li.current-menu-item > a[href*="#"] { 
	font-family: Poppins;
	font-weight: 400;
	font-style: normal;
	font-size: 17;
	line-height: 17px;
	color: #ffffff;
}
.classic-menu:not(.responsive) #menu-main-menu > li.current-menu-item > a[href*="#"]:hover { 
	background-color: rgba(0, 0, 0, 0);
	color: rgb(190, 201, 199);
}
.classic-menu:not(.responsive) #menu-main-menu > li.current-menu-item > a { 
	background-color: rgba(0, 0, 0, 0);
	color: #bec9c7;
}
.classic-menu.responsive ul:not(.sub-menu)>.menu-item.active>a:before, .classic-menu.responsive ul:not(.sub-menu)>.current-menu-item>a:before { 
	background-color: #ffffff;
}
.classic-menu:not(.responsive) #menu-main-menu > li.current-menu-ancestor > a { 
	background-color: rgba(0, 0, 0, 0);
	color: #bec9c7;
}
.classic-menu:not(.responsive) #menu-main-menu .sub-menu a:hover { 
	background-color: #131313;
	color: rgb(189, 145, 39);
}
.classic-menu:not(.responsive) #menu-main-menu .sub-menu li.current-menu-item > a { 
	background-color: #ffffff;
	color: #000000;
}
.classic-menu a { 
	letter-spacing: 1px;
}
.menu-item a:hover { 
	text-decoration: none;
}
.page-banner-row { 
	max-width: 1144px;
}
.container, .classic-menu.incontainer .menu-container { 
	max-width: 1144px;
}
.color1_txt, .color1_txt p { 
	color: #b6b6b6;
}
.color1_bg { 
	background-color: #b6b6b6;
}
.color3_txt, .color3_txt p { 
	color: #f5f5f5;
}
.color3_bg { 
	background-color: #f5f5f5;
}
.color4_txt, .color4_txt p { 
	color: #131112;
}
.color4_bg { 
	background-color: #131112;
}
.color5_txt { 
	color: #f5f5f5;
}
.color5_bg { 
	background-color: #f5f5f5;
}
.color6_txt { 
	color: #000000;
}
.color6_bg { 
	background-color: #000000;
}
.menu-toggle span { 
	background-color: #131112;
}
.podcast-banner h1.page-title { 
	font-size: 42px;
	line-height: 42px;
}
.podcast-banner .page-subtitle { 
	font-size: 21px;
	line-height: 21px;
}
.fa, .far, .fas, .fab{
text-style: normal;
}

.classic_menu_align-pull-left:not(.responsive) #menu-main-menu{
margin-left: 25px;
}

.classic-menu.mini > ul > li a, .classic-menu.mini > ul > li.languages-selector > ul > li a {
color: #ffffff;
}

#wrapper{
min-height: calc(100vh - 84px);
}

#footer p{
font-size: 11px;
}


@media (min-width: 768px) {
#sonaar-player .playerNowPlaying{
width: 400px;
}
}
@media only screen and (min-width: 861px){
#sonaar-player .playerNowPlaying .metadata{
width: 290px;
}
}
#sonaar-player .track-name{
transform: none !important;
}

#sonaar-player, #sonaar-player .player{
height: 85px;
}
#sonaar-player .playerNowPlaying .album-art{
top: 5px;
}

#sonaar-player .playerNowPlaying .metadata .track-artist, #sonaar-player .playerNowPlaying .metadata .track-album {
    padding-bottom: 5px;
}


.eg-album-click-and-play-content.esg-entry-content{
min-height: 105px !important;
}

.classic-menu.responsive ul li a, .classic-menu.responsive ul li.languages-selector a {
    background-color: rgb(0, 0, 0);
    color: #FFFF;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

@font-face {
    font-family: 'Articulat';
    src: url('//www.akumandra.com/wp-content/fonts/Articulat2.2w/Webfont/ArticulatCFv2-Light.woff2'); 
}

body, h1, h2, h3, h4, h5, .entry p, .sonaar-player player, .sonaar-player > playerNowPlaying, .sr_it-single-post h2, .text-box h2, .video-box h2, .title-box h2, .type-album .text-box h2, input, div.eg-album-click-and-play-element-14, div.eg-album-click-and-play-element-17, .classic-menu > ul > li a, .classic-menu > ul > li.languages-selector > ul > li a, body #sonaar-player .playerNowPlaying .metadata, body #sonaar-player .playlist .tracklist li{font-family: 'Articulat', sans-serif;}


.vc_row.vc_row-flex>.vc_column_container>.vc_column-inner {
   max-height: 640px;
}

.page-id-2614 #sonaar-player .playerNowPlaying .metadata .track-album {
 display: none; 
}

@media only screen and (max-width: 1025px)
.enable .store {
    display: none !important;
}

@media only screen and (max-width: 1025px)
#sonaar-player .close.btn-player.enable !important {
    bottom: 89px;
}
ul.header-top-menu li a{color:#131112;}.menu-toggle-off polygon{
    fill:#131112;
}.sr-it-event-date .sr-it-date-years, .iron_widget_events .pagination li, .iron_widget_events .pagination li a{ color: rgb(19, 17, 18);}.iron_podcast_player{ background: linear-gradient(,);} 
.sr-it-date-day, .sr_it-event-title { 
	font-family: Poppins;
	font-weight: regular;
	font-size: 18px;
	color: rgb(19, 17, 18);
}
.sr_it-event-title { 
	letter-spacing: 0px;
}
.concerts-list { 
	background-color: rgb(245, 245, 245);
}
.concerts-list .countdown-block { 
	font-family: Poppins;
	font-weight: 600;
	font-size: 21px;
	color: rgb(245, 245, 245);
	letter-spacing: 0px;
}
.event-list-countdown { 
	background-color: rgb(186, 184, 182);
}
.event-link { 
	padding-top: 20px;
	padding-bottom: 20px;
}
.concerts-list .event, .concerts-list:first-of-type, .sr_it-event-main { 
	border-color: rgb(19, 17, 18);
}
.events-bar { 
	border-top-color: rgb(19, 17, 18);
}
span.events-bar-artists select { 
	border-color: rgb(0, 0, 0);
}
.events-bar, .events-bar select { 
	background-color: rgb(245, 245, 245);
}
span.events-bar-title, .events-bar-artists select { 
	font-family: Poppins;
	font-weight: 300;
	font-size: 15px;
	color: rgb(43, 43, 43);
}
span.events-bar-title { 
	letter-spacing: 0px;
}
span.events-bar-artists:after { 
	border-top-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
}
@media only screen and (min-width: 1024px){
    .concerts-list .event:hover{ background:rgb(19, 17, 18);}
    .concerts-list .event:hover .sr_it-event-title, .concerts-list .event:hover .sr-it-date-day, .concerts-list .event:hover .sr-it-date-years, .concerts-list .event:hover .sr_it-event-info{ color:rgb(245, 245, 245);}
    
} 
.srt_player-container .iron-audioplayer .playlist .audio-track path,.srt_player-container .iron-audioplayer .playlist .audio-track rect, .srt_player-container .playlist .store-list svg { 
	fill: rgb(255, 255, 255);
}
.srt_player-container .iron-audioplayer .playlist a { 
	color: rgb(255, 255, 255);
}
.srt_player-container .iron-audioplayer .playlist .current .audio-track { 
	color: rgb(255, 255, 255);
}
.srt_player-container .iron-audioplayer .playlist .audio-track, .srt_player-container .iron-audioplayer .playlist .track-number, .srt_player-container .iron-audioplayer .sr_it-playlist-title { 
	font-family: Poppins;
	font-weight: regular;
	font-size: 14px;
	color: rgb(0, 0, 0);
}
.srt_player-container.sonaar_artist_player .player .control .previous, .srt_player-container.sonaar_artist_player .player .control .next, .srt_player-container.sonaar_artist_player .player .control .play { 
	fill: rgb(255, 255, 255);
}
.srt_player-container.sonaar_artist_player .playerNowPlaying .metadata .track-name, .srt_player-container.sonaar_artist_player .playerNowPlaying .metadata .album-title, .srt_player-container.sonaar_artist_player { 
	background-color: rgb(0, 0, 0);
}
.iron_music_player .control rect, .iron_music_player .control path, .iron_music_player .control polygon { 
	fill: rgb(255, 255, 255);
}
.srt_player-container.sonaar_artist_player .spectro rect, .iron_music_player .spectro rect { 
	fill: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .player .wavesurfer .timing, #sonaar-player.srt_sticky-player .sr_skip_number { 
	color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .playerNowPlaying .metadata, #sonaar-player.srt_sticky-player .playlist .tracklist li, #sonaar-player.srt_sticky-player .playlist .track-artist { 
	font-family: Poppins;
	font-weight: 600;
	font-size: 14px;
	color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .album-title { 
	color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .player, #sonaar-player.srt_sticky-player .store, #sonaar-player.srt_sticky-player .player .wavesurfer .volume .slider-container { 
	background-color: rgb(0, 0, 0);
}
#sonaar-player.srt_sticky-player .player, #sonaar-player.srt_sticky-player .player .wavesurfer .volume .slider-container { 
	border-color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .close.btn_playlist:before, #sonaar-player.srt_sticky-player .close.btn_playlist:after { 
	border-color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .player .wavesurfer .volume .slider-container:after { 
	border-top-color: rgb(0, 0, 0);
}
#sonaar-player.srt_sticky-player .player .wavesurfer .volume .slider-container:before { 
	border-top-color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .close.btn-player, #sonaar-player.srt_sticky-player .mobileProgress { 
	background-color: rgb(255, 255, 255);
}
.ui-slider-handle, .ui-slider-range { 
	background-color: rgb(255, 255, 255);
}
.volume .slider-container .slide:before { 
	background-color: rgb(0, 0, 0);
}
#sonaar-player.srt_sticky-player .playlist .playlist-title, #sonaar-player.srt_sticky-player .playlist .track-artist { 
	color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .playlist button.play, #sonaar-player.srt_sticky-player.list-type-podcast .playlist .tracklist .sonaar-callToAction, #sonaar-player.srt_sticky-player.list-type-podcast .store .track-store li a { 
	background-color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .playlist button.play, #sonaar-player.srt_sticky-player.list-type-podcast .playlist .tracklist .sonaar-callToAction { 
	color: rgb(0, 0, 0);
}
#sonaar-player.srt_sticky-player .playlist .tracklist li, #sonaar-player.srt_sticky-player .playlist .tracklist li a, #sonaar-player.srt_sticky-player .player .store .track-store li a, #sonaar-player.srt_sticky-player .track-store li, #sonaar-player.srt_sticky-player .sonaar-extend-button { 
	color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .playlist .tracklist li.active, #sonaar-player.srt_sticky-player .playlist .tracklist li.active a { 
	color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player.list-type-podcast .player .store .track-store li a, #sonaar-player.srt_sticky-player .sr_speedRate div { 
	color: rgb(0, 0, 0);
}
#sonaar-player.srt_sticky-player .track-store svg { 
	fill: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .playlist .tracklist li.active svg { 
	fill: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .mobileProgressing, #sonaar-player.srt_sticky-player .progressDot { 
	background-color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player { 
	background-color: rgba(0, 0, 0, 0.90);
}
.playlist .sr_it-playlist-title, .sr_it-playlist-artists, .sr_it-playlist-release-date { 
	color: rgb(0, 0, 0);
}
#sonaar-player.srt_sticky-player .control polygon, #sonaar-player.srt_sticky-player .control path, #sonaar-player.srt_sticky-player .control rect, #sonaar-player.srt_sticky-player .control rect, #sonaar-player.srt_sticky-player .control path, #sonaar-player.srt_sticky-player .control polygon { 
	fill: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .playlist .track-number svg path, #sonaar-player.srt_sticky-player .playlist .track-number svg rect { 
	fill: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .control rect, #sonaar-player.srt_sticky-player .control path, #sonaar-player.srt_sticky-player .control polygon, .srt_sticky-player .volume .icon path, #sonaar-player.srt_sticky-player .shuffle path { 
	fill: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .sr_speedRate div { 
	background-color: rgb(255, 255, 255);
}
#sonaar-player.srt_sticky-player .close.btn-player rect { 
	fill: rgb(0, 0, 0);
}
#sonaar-player.srt_sticky-player .close.btn-player.enable:after, #sonaar-player.srt_sticky-player .close.btn-player.enable:before { 
	border-color: rgb(0, 0, 0);
}
#sonaar-player.srt_sticky-player .wave-custom .wave-base rect { 
	fill: rgb(0, 0, 0);
}
#sonaar-player.srt_sticky-player .wave-custom .wave-progress rect { 
	fill: rgb(255, 255, 255);
}
@media only screen and (max-width: 860px){
    #sonaar-player.srt_sticky-player{
        background-color: rgba(0, 0, 0, 1);
    }
    #sonaar-player.srt_sticky-player .playlist .playlist-title{
        background:rgb(0, 0, 0)
    }
}body:not(.elementor-page) .sonaar-podcast-list-item, .podcastshow-episodes .sonaar-podcast-list-item{ background: linear-gradient(,);}
